-dontwarn okio.**

## Support library
-dontwarn android.support.**
# support design
-dontwarn android.support.design.**
-keep class android.support.design.** { *; }
-keep interface android.support.design.** { *; }
-keep public class android.support.design.R$* { *; }
-keep public class androidx.appcompat.widget.** { *; }
-keep public class androidx.appcompat.internal.widget.** { *; }
-keep public class androidx.appcompat.internal.view.menu.** { *; }
-keep public class * extends android.support.v4.view.ActionProvider {
    public <init>(android.content.Context);
}
-keep class androidx.work.impl.** { *; }

  ## Google

-keep class com.google.android.gms.** { *; }
-keepclassmembernames class com.google.android.gms.comman.api.GoogleApiClient** { *; }
-dontwarn com.google.common.collect.**
-keep public class com.google.collect.* { public *; }
-keep public class com.google.android.gms.ads.* { public *; }

-keep public class com.google.android.gms.* { public *; }
-dontwarn com.google.android.gms.**
-keep class * extends java.util.ListResourceBundle {
    protected Object[][] getContents();
}
-keep class com.google.firebase.** { *; }
-dontwarn com.google.firebase.**
-keep public class com.google.firebase.provider.** { public *; }
-keep public class com.google.android.gms.appindexing.** { public *; }
-keep public class com.google.android.gms.common.internal.safeparcel.SafeParcelable {
    public static final *** NULL;
}

-keepnames @com.google.android.gms.common.annotation.KeepName class *
-keepclassmembernames class * {
    @com.google.android.gms.common.annotation.KeepName *;
}

-keepnames class * implements android.os.Parcelable {
    public static final ** CREATOR;
}
-keep class com.google.android.gms.auth.api.signin.GoogleSignInOptions{ *;}
-keep class com.google.android.gms.auth.api.signin.internal.SignInHubActivity {*; }